<!doctype html>
<title>Stock Evolution</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Stock Evolution</h1>
  <div class=metanav>

<h4>
Please enter a stock ticker eg. GOOG, and check desired features.
</h4>

<form id='index' method='post' action='index' > <!-- action is the URL you want to move to next-->
   <p>
   Ticker symbol: <input type='text' name='stock_name' />
   </p>
   <p>
   <input type='submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
   </p>
</form>


</div>
</div>
